// projects
.content {
  display: grid;
  grid-template-columns: 1fr 5fr 5fr 1fr;
  grid-template-rows: auto auto;
  
  .work-heading {
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
    
    h3 {
      font-family: verveine, sans-serif;
      color: $yellow;
      font-size: 3.625rem;
    }
    
  }
  
  .projects {
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;
    position: relative;
    
    .project {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      margin-bottom: 150px;

      .text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
        width: 50%;

        .heading {

          h1 {
            font-family: 'Roboto', sans-serif;
            font-size: 4rem;
            position: relative;
            margin: 0;
            padding: 0;
          }

          h1:after {
            position: absolute;
            content: "";
            display: block;
            top: 75%;
            left: 0;
            transform: translate(0%, -50%);
            height: 50%;
            background: #ffc300;
            width: 100%;
            z-index: -1;
          }

          h3 {
            font-family: 'Roboto', sans-serif;
            font-size: 2rem;
            color: #ffc300;
            font-weight: 400;
          }

        }

        .description {

          p {
            font-family: 'Roboto', sans-serif;
            color: grey;
          }

          ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
              font-family: 'Roboto', sans-serif;
              display: inline-block;
              padding: 6px 12px;
              border: 2px solid black;
              text-transform: uppercase;
              font-weight: 600;
            }

          }

        }

        .links {
          margin-top: 50px;

          a {
            font-family: 'Roboto', sans-serif;
            position: relative;
            text-decoration: none;
            padding: 12px 24px;
            border: 2px solid #ffc300;
            text-transform: uppercase;
            font-weight: 600;
            color: black;
            overflow: hidden;
            transition:         0.3s ease-in;
            -o-transition:      0.3s ease-in;
            -ms-transition:     0.3s ease-in;
            -moz-transition:    0.3s ease-in;
            -webkit-transition: 0.3s ease-in;
            cursor: pointer;
          }

          a:hover {
            color: white;
          }

          a:after {
            content: "";
            position: absolute;
            background: #ffc300;
            bottom: 0;
            left: 0;
            right: 0;
            top: 100%;
            z-index: -1;
            -webkit-transition: top 0.1s ease-in;
          }

          a:hover:after {
            top: 0;
          }

          a:first-child:before {
            font-family: "Font Awesome 5 Free"; 
            font-weight: 900; 
            content: "\f07b";
            margin-right: 10px;
          }

          a:nth-child(2):before {
            font-family: "Font Awesome 5 Free"; 
            font-weight: 900; 
            content: "\f121";
            margin-right: 10px;
          }

        }

      }

      .image {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: auto;
        width: 50%;

        .placeholder {
          position: relative;

          img {
            height: auto;
            width: 100%;
          }

        }
        
        .placeholder.mobile {
          position: relative;
          width: 281.25px;
          height: 609px;
        }
        
        .placeholder.laptop {
          position: relative;
          width: 770px;
          height: 450px;
        }
        
        .placeholder.computer {
          position: relative;
          width: 770px;
          height: 598.5px;
        }
        
        .placeholder.mobile:after {
          background-image: url('/wp-content/themes/seanyb/img/png/iPhone_11_Pro_Max.png');
          background-size: 281.25px 609px;
          position: absolute;
          width: 281.25px;
          height: 609px;
          content: '';
          z-index: -1;
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);
        }
        
        .placeholder.laptop:after {
          background-image: url('/wp-content/themes/seanyb/img/png/Macbook_Pro_16_Inch.png');
          background-size: 577.5px 337.5px;
          position: absolute;
          width: 577.5px;
          height: 337.5px;
          content: '';
          z-index: -1;
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);
        }
        
        .placeholder.computer:after {
          background-image: url('/wp-content/themes/seanyb/img/png/iMac_Pro_27_Inch.png');
          background-size: 577.5px 448.875px;
          position: absolute;
          width: 577.5px;
          height: 448.875px;
          content: '';
          z-index: -1;
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);
        }

      }

    }
    
  }
  
}
