// case studies 
.case-studies {
  display: grid;
  grid-template-columns: 1.5fr 9fr 1.5fr;
  grid-template-rows: auto auto;
  .sub-heading {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    h3 {
      font-family: verveine, sans-serif;
      color: $yellow;
      font-size: 3.625rem;
    }
  }
  .projects {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    position: relative;
    // odd posts
    .odd {
      position: relative;
      img {
        width: 750px;
        height: 500px;
        position: absolute;
        top: 55%;
        right: 0;
        z-index: -1;
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
      }
      h3:first-child {
        font-family: gineso-condensed, sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 30rem;
        position: relative;
        margin: 0;
        padding: 0;
        -webkit-text-fill-color: white; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
      }
      h3:first-child:after {
        position: absolute;
        height: 1px;
        width: 25%;
        top: 50%;
        background-color: black;
        content: "";
      }
      h1 {
        font-size: 4rem;
        font-family: 'Roboto', sans-serif;
        color: black;
        position: relative;
        display: inline-block;
        z-index: 1;
      }
      h1:after {
        position: absolute;
        content: '';
        display: block;
        top: 75%;
        left: -2%;
        transform: translate(0%,-50%);
        height: 50%;
        background: $yellow;
        width: 104%;
        z-index: -1;
      }
      h1 {
        font-weight: 500;
      }
      h3 {
        font-size: 2rem;
        margin: 0;
      }
      p {
        font-size: 1.25rem;
        color: #aaa;
        font-weight: 300;
      }
      h1,h3,p {
        font-family: 'Roboto', sans-serif;
      }
    }
    .odd:not(:first-child) {
      margin-top: 33vh;
    }
    // even posts
    .even {
      position: relative;
      margin-top: 33vh;
      text-align: right;
      img {
        width: 750px;
        height: 500px;
        position: absolute;
        top: 55%;
        left: 0;
        z-index: -1;
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
      }
      h3:nth-child(2) {
        font-family: gineso-condensed, sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 30rem;
        position: relative;
        margin: 0;
        padding: 0;
        text-align: right;
        -webkit-text-fill-color: white; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
      }
      h3:nth-child(2):before {
        position: absolute;
        height: 1px;
        width: 25%;
        top: 50%;
        right: 45%;
        background-color: black;
        content: "";
      }
      h1 {
        font-size: 4rem;
        font-family: 'Roboto', sans-serif;
        color: black;
        position: relative;
        display: inline-block;
        z-index: 1;
      }
      h1:after {
        position: absolute;
        content: '';
        display: block;
        top: 75%;
        left: -2%;
        transform: translate(0%,-50%);
        height: 50%;
        background: $yellow;
        width: 104%;
        z-index: -1;
      }
      h1 {
        font-weight: 500;
      }
      h3 {
        font-size: 2rem;
        margin: 0;
      }
      p {
        font-size: 1.25rem;
        color: #aaa;
        font-weight: 300;
      }
      h1,h3,p {
        font-family: 'Roboto', sans-serif;
      }
    }
  }
}