// case-studies
.content {
  .projects {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    position: relative;
    .odd {
      position: relative;
      .text-l {
        h3 {
          position: relative;
          font-size: 1.5rem;
        }
        h3:first-child:after {
          position: absolute;
          height: 1px;
          width: 95px;
          top: 50%;
          background-color: black;
          content: "";
        }
        h1 {
          font-size: 4rem;
          font-weight: 700;
          position: relative;
          z-index: 1;
        }
        h1:after {
          position: absolute;
          content: '';
          display: block;
          top: 75%;
          left: -2%;
          transform: translate(0%,-50%);
          height: 50%;
          background: $yellow;
          width: 104%;
          z-index: -1;
        }
         p {
          font-family: helvetica;
          font-size: 1.125rem;
          color: #ccc;
          margin: 0;
          padding: 0;
        }
        h1,h3,p {
//           margin: auto;
        }
      }
      .image-r {
        img {
          z-index: -1;
        }
      }
      .text-l,
      .image-r {
        display: inline-block;
      }
    }
  }
}