// header
// navigation 
header {
  margin: 0;
  padding: 0;
  position: relative;
  opacity: 1;
  nav {
    text-align: right;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      width: 90%;
      li {
        display: inline-block;
        a {
          position: relative;
          display: block;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          font-size: 1.25rem;
          color: #ccc;
          -moz-transition: all 700ms ease-out;
          -webkit-transition: all 700ms ease-out;
          -o-transition: all 700ms ease-out;
          transition: all 700ms ease-out;
        }
        a:hover {
          color: black;
        }
      }
    }
  }
  .site-branding {
    a {
      text-decoration: none;
      color: black;
      h1 {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
      }
      h1:first-child {
        font-family: 'tropical_summer_signatureRg';
        font-weight: normal;
        font-style: normal;
        font-size: 5rem !important;
        color: $yellow;
        left: 20px;
        top: 20px;
      }
      p {
        position: absolute;
        padding: 0;
        margin: 0;
        top: 109px;
        left: 5.5%;
        text-transform: uppercase;
        font-weight: 500;
      }
      p:before {
        content: '';
        width: 5px;
        height: 5px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-150%,-50%);
        background: black;
      }
      p:after {
        content: '';
        width: 5px;
        height: 5px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        transform: translate(50%,-50%);
        background: black;
      }
    }
  }
}

header.in-view {
  opacity: 1;
  -webkit-animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both 3s;
  animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both 3s;
}