// single case study
.content {
  .project-banner {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    position: relative;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1 {
      font-size: 4rem;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      text-align: center;
      position: relative;
      margin-top: -2.5rem;
      z-index: 1;
    }
    h1:nth-child(2):after {
      position: absolute;
      content: '';
      display: block;
      top: -10%;
      left: 50%;
      transform:translate(-50%,0%);
      height: 115%;
      background: $yellow;
      width: 110%;
      z-index: -1;
    }
  }
  .project-indicator {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    position: relative;
    img {
      position: absolute;
      left: 0%;
      top: 50%;
      transform: translate(-100%,-50%);
    }
    p {
      font-family: verveine,sans-serif;
      font-size: 2rem;
      top: 58%;
      position: absolute;
      transform: translate(-50%,0%);
      opacity: 0;
      -moz-transition: all 700ms ease-out 1.8s;
      -webkit-transition: all 700ms ease-out 1.8s;
      -o-transition: all 700ms ease-out 1.8s;
      transition: all 700ms ease-out 1.8s;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    p.in-view {
      opacity: 1;
    }
  }
  .project-information {
    grid-column: 1 / span 3;
    grid-row: 3 / span 1;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
    height: auto;
    span {
      width: 25%;
      display: inline-block;
      margin: auto;
      h3 {
        font-family: helvetica;
        font-size: 1.5rem;
        font-weight: 700;
        position: relative;
        display: inline-block;
      }
      h3:after {
        position: absolute;
        content: '';
        display: block;
        top: 75%;
        left: -5%;
        transform: translate(0%,-50%);
        height: 50%;
        background: $yellow;
        width: 112%;
        z-index: -1;
      }
      p {
        font-family: helvetica;
      }
      a {
        font-family: helvetica;
        border-bottom: 2px solid $yellow;
        margin-right: 1rem;
      }
    }
  }
  .project-video {
    grid-column: 1 / span 3;
    grid-row: 4 / span 1;
    position: relative;
    background: $yellow;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .project-process {
    grid-column: 2 / span 1;
    grid-row: 5 / span 1;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .process {
      position: relative;
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      h3 {
        font-family: helvetica;
        font-size: 1.5rem;
        font-weight: 700;
        position: relative;
        display: inline-block;
      }
      h3:after {
        position: absolute;
        content: '';
        display: block;
        top: 75%;
        left: -5%;
        transform: translate(0%,-50%);
        height: 50%;
        background: $yellow;
        width: 112%;
        z-index: -1;
      }
    }
  }
  .project-wireframes {
    grid-column: 1 / span 3;
    grid-row: 6 / span 1;
    background: #ccc;
    figure {
      display: inline-block;
      width: 49%;
      margin: 0;
      padding: 0;
      text-align: center;
      margin-top: 8rem;
      margin-bottom: 8rem;
    }
  }
  .project-screens {
    grid-column: 1 / span 3;
    grid-row: 7 / span 1;
    figure {
      margin: 0;
      padding: 0;
      text-align: center;
      img {
        width: 50%;
        height: auto;
      }
    }
  }
  .project-other {
    grid-column: 2 / span 1;
    grid-row: 8 / span 1;
    h3 {
      font-family: verveine, sans-serif;
      color: $yellow;
      font-size: 3.625rem;
    }
    a {
      .even {
        position: relative;
        margin-top: 10vh;
        margin-bottom: 10vh;
        img {
          width: 750px;
          height: 500px;
          z-index: -1;
          -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
          filter: grayscale(100%);
        }
        .text {
          float: right;
          text-align: right;
          h1 {
            font-size: 4rem;
            font-family: 'Roboto', sans-serif;
            color: black;
            position: relative;
            display: block;
            z-index: 1;
          }
          h1:after {
            position: absolute;
            content: '';
            display: block;
            top: 75%;
            left: -2%;
            transform: translate(0%,-50%);
            height: 50%;
            background: $yellow;
            width: 104%;
            z-index: -1;
          }
          h1 {
            font-weight: 500;
          }
          h3 {
            font-size: 2rem;
            margin: 0;
          }
          p {
            font-size: 1.25rem;
            color: #aaa;
            font-weight: 300;
          }
          h1,h3,p {
            font-family: 'Roboto', sans-serif;
          }
        }
      }
    }
  }
}