// single case study
.content {
  .banner {
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;

    .placeholder {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      img {
        width: 375px;
        height: auto;
      }

    }

    .heading {

      h1 {
        font-size: 4rem;
        font-family: "Roboto",sans-serif;
        font-weight: 500;
        text-align: center;
        position: relative;
      }

      h1:after {
        position: absolute;
        content: "";
        display: block;
        top: -10%;
        left: 50%;
        transform: translate(-50%, 0%);
        height: 115%;
        background: #ffc300;
        width: 110%;
        z-index: -1; 
      }

    }
    
    .demo {
      
      a {
        font-family: "Roboto",sans-serif;
        position: relative;
        text-decoration: none;
        padding: 12px 24px;
        border: 2px solid black;
        text-transform: uppercase;
        font-weight: 600;
        color:
        #000;
        overflow: hidden;
        transition: .3s ease-in;
        -o-transition: .3s ease-in;
        -ms-transition: .3s ease-in;
        -moz-transition: .3s ease-in;
        -webkit-transition: .3s ease-in;
        cursor: pointer;
      }
      
      a:before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f06e";
        margin-right: 10px;
      }

      a:after {
        content: "";
        position: absolute;
        background: black;
        bottom: 0;
        left: 0;
        right: 0;
        top: 100%  !important;
        z-index: -1;
        -webkit-transition: top .1s ease-in;
      }

      a:hover {
        color: white;
      }

      a:hover:after {
        top: 0 !important;
      }
      

    }
    
    

    .description {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: row;

      .overview {
        display: flex;
        flex-wrap: wrap;
        padding: 2rem;
        width: 33%;

        .title {
          display: flex;
          align-items: center;
          flex-direction: row;
          width: 100%;

          .start {
            width: 50%;
            display: flex;
            flex-wrap: wrap;

            h3 {
              font-family: helvetica;
              font-size: 1.5rem;
              font-weight: 700;
              position: relative;
            }

            h3:after {
              position: absolute;
              content: "";
              display: block;
              top: 75%;
              left: -5%;
              transform: translate(0%, -50%);
              height: 50%;
              background: #ffc300;
              width: 112%;
              z-index: -1;
            }
          }

          .end {
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;

            ul {
              margin: 0;
              padding: 0; 

              li {
                list-style: none;
                padding: 12px 24px;
                font-family: "Roboto",sans-serif;
                font-size: 1.125rem;

                a {
                  line-height: 1.125rem;
                  text-decoration: none;
                  color: black;
                  font-weight: bold;
                  display: flex;
                  align-items: center;
                  flex-direction: row;
                  cursor: pointer;
                  transition:         0.3s ease-in;
                  -o-transition:      0.3s ease-in;
                  -ms-transition:     0.3s ease-in;
                  -moz-transition:    0.3s ease-in;
                  -webkit-transition: 0.3s ease-in;
                  opacity: 0.5;
                }

                a:hover {
                  transform: translateY(-10px);
                  opacity: 1;
                }

              }

              li:first-child {
                a:before {
                  font-family: "Font Awesome 5 Brands";
                  font-weight: 400;
                  content: "\f09b";
                  margin-right: 20px;
                  font-size: 2rem;
                }

              }

            }

          }

        }

      }

      .team {
        display: flex;
        flex-wrap: wrap;
        padding: 2rem;
        width: 33%;

        h3 {
          font-family: helvetica;
          font-size: 1.5rem;
          font-weight: 700;
          position: relative;
        }

        h3:after {
          position: absolute;
          content: "";
          display: block;
          top: 75%;
          left: -5%;
          transform: translate(0%, -50%);
          height: 50%;
          background: #ffc300;
          width: 112%;
          z-index: -1;
        }

      }

      .role {
        display: flex;
        flex-wrap: wrap;
        padding: 2rem;
        width: 33%;

        h3 {
          font-family: helvetica;
          font-size: 1.5rem;
          font-weight: 700;
          position: relative;
        }

        h3:after {
          position: absolute;
          content: "";
          display: block;
          top: 75%;
          left: -5%;
          transform: translate(0%, -50%);
          height: 50%;
          background: #ffc300;
          width: 112%;
          z-index: -1;
        }

        ul {
          margin: 0;
          padding: 0;

          li {
            list-style: none;
            display: inline-block;
            padding: 12px 24px;
            font-weight: bold;
            border: 2px solid black;
            margin: 5px;
            font-family: 'Roboto', sans-serif;

          }

        }

      }

    }

    .divider {
      width: 100%;
      height: 2px;
      border-top-color: #dddddd;
      border-top-style: dashed;
      border-top-width: 4px;
    }

    .whathow {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: row;
      margin-bottom: 50px;

      .goals {
        width: 49%;
        display: flex;
        flex-wrap: wrap;

        h3 {
          font-family: helvetica;
          font-size: 1.5rem;
          font-weight: 700;
          position: relative;
        }

        h3:after {
          position: absolute;
          content: "";
          display: block;
          top: 75%;
          left: -5%;
          transform: translate(0%, -50%);
          height: 50%;
          background: #ffc300;
          width: 112%;
          z-index: -1;
        }

        ol {
          display: flex;
          justify-content: center;
          flex-direction: column;

          li {
            position: relative;
            padding: 12px 24px;
            font-family: 'Roboto', sans-serif;
          }

          li::marker {
            font-weight: bold;
            font-size: 2rem;
          }

        }

      }

      .tools {
        width: 49%;
        display: flex;
        flex-wrap: wrap;

        h3 {
          font-family: 'Roboto', sans-serif;
          font-size: 1.5rem;
          font-weight: 700;
          position: relative;
        }

        h3:after {
          position: absolute;
          content: "";
          display: block;
          top: 75%;
          left: -5%;
          transform: translate(0%, -50%);
          height: 50%;
          background: #ffc300;
          width: 112%;
          z-index: -1;
        }

        .list {
          width: 100%;

          ul {
            margin: 0;
            padding: 0;

            li {
              position: relative;
              list-style: none;
              padding: 12px 24px;
              display: inline-block; 
              width: 40%;
              font-family: 'Roboto', sans-serif;
            }

            .HTML:before {
              font-family: "Font Awesome 5 Brands";
              font-weight: 400;
              content: "\f13b";
              margin-right: 20px;
              font-size: 2rem;
            }

            .CSS:before {
              font-family: "Font Awesome 5 Brands";
              font-weight: 400;
              content: "\f38b";
              margin-right: 20px;
              font-size: 2rem;
            }

            .JavaScript:before {
              font-family: "Font Awesome 5 Brands";
              font-weight: 400;
              content: "\f3b9";
              margin-right: 20px;
              font-size: 2rem;
            }

            .PHP:before {
              font-family: "Font Awesome 5 Brands";
              font-weight: 400;
              content: "\f457";
              margin-right: 20px;
              font-size: 2rem;
            }

            .Google:before {
              font-family: "Font Awesome 5 Brands";
              font-weight: 400;
              content: "\f1a0";
              margin-right: 20px;
              font-size: 2rem;
            }

            .Photoshop:before {
              font-family: "Font Awesome 5 Brands";
              font-weight: 400;
              content: "\f778";
              margin-right: 20px;
              font-size: 2rem;
            }
            
            .Adobe:before {
              font-family: "Font Awesome 5 Brands";
              font-weight: 400;
              content: "\f778";
              margin-right: 20px;
              font-size: 2rem;
            }

          }

        }

      }

    }

  }
  .project-video {
    grid-column: 1 / span 4;
    grid-row: 2 / span 1;
    position: relative;
    background: $yellow;
    margin: 0;
    padding: 0;
    text-align: center;
    height: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    video {
      opacity: 1;
    }
  }
  .process {
    grid-column: 2 / span 2;
    grid-row: 3 / span 1;
    display: flex;
    flex-direction: column;
    margin-top: 100px;

    .content {
      display: flex;
      flex-direction: row;

      .text {
        width: 50%;
        display: flex;
        flex-direction: column;

        .features {
          display: flex;
          flex-wrap: wrap;

          h3 {
            font-family: 'Roboto', sans-serif;
            font-size: 1.5rem;
            font-weight: 700;
            position: relative;
          }

          h3:after {
            position: absolute;
            content: "";
            display: block;
            top: 75%;
            left: -5%;
            transform: translate(0%, -50%);
            height: 50%;
            background: #ffc300;
            width: 112%;
            z-index: -1;
          }

          ul {

            li {
              position: relative;
              padding: 12px 24px;
              font-family: 'Roboto', sans-serif;;
              display: inline-block;
              width: 40%;
            }
            
            li:before {
              font-family: "Font Awesome 5 Free";
              font-weight: 600;
              content: "\f058";
              margin-right: 20px;
              font-size: 2rem;
            }

          }

        }

        .challenges {
          display: flex;
          flex-wrap: wrap;

          h3 {
            font-family: 'Roboto', sans-serif;
            font-size: 1.5rem;
            font-weight: 700;
            position: relative;
          }

          h3:after {
            position: absolute;
            content: "";
            display: block;
            top: 75%;
            left: -5%;
            transform: translate(0%, -50%);
            height: 50%;
            background: #ffc300;
            width: 112%;
            z-index: -1;
          }

          ol {
            display: flex;
            justify-content: center;
            flex-direction: column;

            li {
              position: relative;
              padding: 12px 24px;
              font-family: 'Roboto', sans-serif;
            }

            li::marker {
              font-weight: bold;
              font-size: 2rem;
            }

          }

        }

      }

      .image {
        width: 50%;

        .plan {
          display: flex;
          flex-direction: row;
          justify-content: space-around;

          .wireframe {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h3 {
              font-family: 'Roboto', sans-serif;
              font-size: 1.5rem;
              font-weight: 700;
              position: relative;
            }

            h3:after {
              position: absolute;
              content: "";
              display: block;
              top: 75%;
              left: -5%;
              transform: translate(0%, -50%);
              height: 50%;
              background: #ffc300;
              width: 112%;
              z-index: -1;
            }

            .placeholder {
              width: 187.5px;
              height: 406px;
              background: #ccc;
            }

          }

          .mockup {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h3 {
              font-family: 'Roboto', sans-serif;
              font-size: 1.5rem;
              font-weight: 700;
              position: relative;
            }

            h3:after {
              position: absolute;
              content: "";
              display: block;
              top: 75%;
              left: -5%;
              transform: translate(0%, -50%);
              height: 50%;
              background: #ffc300;
              width: 112%;
              z-index: -1;
            }

            .placeholder {
              width: 187.5px;
              height: 406px;
              background: #ccc;
            }

          }

          .development {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h3 {
              font-family: 'Roboto', sans-serif;
              font-size: 1.5rem;
              font-weight: 700;
              position: relative;
            }

            h3:after {
              position: absolute;
              content: "";
              display: block;
              top: 75%;
              left: -5%;
              transform: translate(0%, -50%);
              height: 50%;
              background: #ffc300;
              width: 112%;
              z-index: -1;
            }

            .placeholder {
              width: 187.5px;
              height: 406px;
              background: #ccc;
            }

          }

        }

      }

    }
    
    .divider {
      width: 100%;
      height: 2px;
      border-top-color: #dddddd;
      border-top-style: dashed;
      border-top-width: 4px;
    }
    
    .learn {
      display: flex;
      flex-direction: column;
      grid-column: 2 / span 2;
      grid-row: 4 / span 1;
      
      h3 {
      font-family: verveine,sans-serif;
      color: $yellow;
      font-size: 3.625rem;
      }

      .learnt {
        margin-top: 100px;

        ul {
          list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;

          li {
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 12px 24px;

            i {
              font-size: 100px;
              margin-bottom: 50px;
              color: $yellow;
            }

            a {
              font-weight: bold;
              font-family: 'Roboto', sans-serif;
              font-size: 1.325rem;
            }

          }

        }

      }

    }

  }
  
}

//--media queries--//