// single case study
.content {
  .banner {
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;

    .placeholder {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      img {
        width: 375px;
        height: auto;
      }

    }

    .heading {

      h1 {
        font-size: 4rem;
        font-family: "Roboto",sans-serif;
        font-weight: 500;
        text-align: center;
        position: relative;
      }

      h1:after {
        position: absolute;
        content: "";
        display: block;
        top: -10%;
        left: 50%;
        transform: translate(-50%, 0%);
        height: 115%;
        background: #ffc300;
        width: 110%;
        z-index: -1; 
      }

    }

    .description {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: row;

      .overview {
        display: flex;
        flex-wrap: wrap;
        padding: 2rem;
        width: 33%;

        .title {
          display: flex;
          align-items: center;
          flex-direction: row;
          width: 100%;

          .start {
            width: 50%;
            display: flex;
            flex-wrap: wrap;

            h3 {
              font-family: helvetica;
              font-size: 1.5rem;
              font-weight: 700;
              position: relative;
            }

            h3:after {
              position: absolute;
              content: "";
              display: block;
              top: 75%;
              left: -5%;
              transform: translate(0%, -50%);
              height: 50%;
              background: #ffc300;
              width: 112%;
              z-index: -1;
            }
          }

          .end {
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;

            ul {
              margin: 0;
              padding: 0; 

              li {
                list-style: none;
                padding: 12px 24px;
                font-family: "Roboto",sans-serif;
                font-size: 1.125rem;

                a {
                  line-height: 1.125rem;
                  text-decoration: none;
                  color: black;
                  font-weight: bold;
                  display: flex;
                  align-items: center;
                  flex-direction: row;
                  cursor: pointer;
                  transition:         0.3s ease-in;
                  -o-transition:      0.3s ease-in;
                  -ms-transition:     0.3s ease-in;
                  -moz-transition:    0.3s ease-in;
                  -webkit-transition: 0.3s ease-in;
                  opacity: 0.5;
                }

                a:hover {
                  transform: translateY(-10px);
                  opacity: 1;
                }

              }

              li:first-child {
                a:before {
                  font-family: "Font Awesome 5 Brands";
                  font-weight: 400;
                  content: "\f09b";
                  margin-right: 20px;
                  font-size: 2rem;
                }

              }

            }

          }

        }

      }

      .team {
        display: flex;
        flex-wrap: wrap;
        padding: 2rem;
        width: 33%;

        h3 {
          font-family: helvetica;
          font-size: 1.5rem;
          font-weight: 700;
          position: relative;
        }

        h3:after {
          position: absolute;
          content: "";
          display: block;
          top: 75%;
          left: -5%;
          transform: translate(0%, -50%);
          height: 50%;
          background: #ffc300;
          width: 112%;
          z-index: -1;
        }

      }

      .role {
        display: flex;
        flex-wrap: wrap;
        padding: 2rem;
        width: 33%;

        h3 {
          font-family: helvetica;
          font-size: 1.5rem;
          font-weight: 700;
          position: relative;
        }

        h3:after {
          position: absolute;
          content: "";
          display: block;
          top: 75%;
          left: -5%;
          transform: translate(0%, -50%);
          height: 50%;
          background: #ffc300;
          width: 112%;
          z-index: -1;
        }

        ul {
          margin: 0;
          padding: 0;

          li {
            list-style: none;
            display: inline-block;
            padding: 12px 24px;
            font-weight: bold;
            border: 2px solid black;
            margin: 5px;
            font-family: 'Roboto', sans-serif;

          }

        }

      }

    }

    .divider {
      width: 100%;
      height: 2px;
      border-top-color: #dddddd;
      border-top-style: dashed;
      border-top-width: 4px;
    }

    .whathow {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: row;
      margin-bottom: 50px;

      .goals {
        width: 49%;
        display: flex;
        flex-wrap: wrap;

        h3 {
          font-family: helvetica;
          font-size: 1.5rem;
          font-weight: 700;
          position: relative;
        }

        h3:after {
          position: absolute;
          content: "";
          display: block;
          top: 75%;
          left: -5%;
          transform: translate(0%, -50%);
          height: 50%;
          background: #ffc300;
          width: 112%;
          z-index: -1;
        }

        ol {
          display: flex;
          justify-content: center;
          flex-direction: column;

          li {
            position: relative;
            padding: 12px 24px;
            font-family: 'Roboto', sans-serif;
          }

          li::marker {
            font-weight: bold;
            font-size: 2rem;
          }

        }

      }

      .tools {
        width: 49%;
        display: flex;
        flex-wrap: wrap;

        h3 {
          font-family: helvetica;
          font-size: 1.5rem;
          font-weight: 700;
          position: relative;
        }

        h3:after {
          position: absolute;
          content: "";
          display: block;
          top: 75%;
          left: -5%;
          transform: translate(0%, -50%);
          height: 50%;
          background: #ffc300;
          width: 112%;
          z-index: -1;
        }

        .list {
          width: 100%;

          ul {
            margin: 0;
            padding: 0;

            li {
              position: relative;
              list-style: none;
              padding: 12px 24px;
              display: inline-block; 
              width: 40%;
              font-family: 'Roboto', sans-serif;
            }

            .HTML:before {
              font-family: "Font Awesome 5 Brands";
              font-weight: 400;
              content: "\f13b";
              margin-right: 20px;
              font-size: 2rem;
            }

            .CSS:before {
              font-family: "Font Awesome 5 Brands";
              font-weight: 400;
              content: "\f38b";
              margin-right: 20px;
              font-size: 2rem;
            }

            .JavaScript:before {
              font-family: "Font Awesome 5 Brands";
              font-weight: 400;
              content: "\f3b9";
              margin-right: 20px;
              font-size: 2rem;
            }

            .PHP:before {
              font-family: "Font Awesome 5 Brands";
              font-weight: 400;
              content: "\f457";
              margin-right: 20px;
              font-size: 2rem;
            }

            .Google:before {
              font-family: "Font Awesome 5 Brands";
              font-weight: 400;
              content: "\f1a0";
              margin-right: 20px;
              font-size: 2rem;
            }

            .Photoshop:before {
              font-family: "Font Awesome 5 Brands";
              font-weight: 400;
              content: "\f778";
              margin-right: 20px;
              font-size: 2rem;
            }
            
            .Adobe:before {
              font-family: "Font Awesome 5 Brands";
              font-weight: 400;
              content: "\f778";
              margin-right: 20px;
              font-size: 2rem;
            }

          }

        }

      }

    }

  }
  .project-information {
    grid-column: 1 / span 4;
    grid-row: 3 / span 1;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10vh;
    height: auto;
    span {
      width: 25%;
      display: inline-block;
      margin: auto;
      opacity: 1;
      h3 {
        font-family: helvetica;
        font-size: 1.5rem;
        font-weight: 700;
        position: relative;
        display: inline-block;
      }
      h3:after {
        position: absolute;
        content: '';
        display: block;
        top: 75%;
        left: -5%;
        transform: translate(0%,-50%);
        height: 50%;
        background: $yellow;
        width: 112%;
        z-index: -1;
      }
      p {
        font-family: helvetica;
      }
      a {
        font-family: helvetica;
        border-bottom: 2px solid $yellow;
        margin-right: 1rem;
      }
    }
  }
  .project-video {
    grid-column: 1 / span 4;
    grid-row: 4 / span 1;
    position: relative;
    background: $yellow;
    margin: 0;
    padding: 0;
    text-align: center;
    min-height: 100vh;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    video {
      opacity: 1;
    }
  }
  .process {
    grid-column: 1 / span 4;
    grid-row: 5 / span 1;
    display: flex;
    flex-direction: column;

    .sub-heading {
      display: flex;
      flex-wrap: wrap;

      h3 {
        font-family: helvetica;
        font-size: 1.5rem;
        font-weight: 700;
        position: relative;
      }

      h3:after {
        position: absolute;
        content: "";
        display: block;
        top: 75%;
        left: -5%;
        transform: translate(0%, -50%);
        height: 50%;
        background: #ffc300;
        width: 112%;
        z-index: -1;
      }

    }

    .content {
      display: flex;
      flex-direction: row;

      .text {
        width: 50%;
        display: flex;
        flex-direction: column;

        .features {

          h3 {
            font-family: helvetica;
          }

          ul {

            li {
              position: relative;
              padding: 12px 24px;
              font-family: helvetica;
              display: inline-block;
              width: 40%;
            }

          }

        }

        .challenges {

          h3 {
            font-family: helvetica;
          }

          ul {

            li {  
              padding: 12px 24px;      
            }

          }

        }

      }

      .image {
        width: 50%;

        .plan {
          display: flex;
          flex-direction: row;
          justify-content: space-around;

          .wireframe {
            display: flex;
            flex-direction: column;

            h3 {
              font-family: helvetica;
              text-align: center;
            }

            .placeholder {
              width: 187.5px;
              height: 406px;
              background: #ccc;
            }

          }

          .mockup {
            display: flex;
            flex-direction: column;

            h3 {
              font-family: helvetica;
              text-align: center;
            }

            .placeholder {
              width: 187.5px;
              height: 406px;
              background: #ccc;
            }

          }

          .development {
            displady: flex;
            flex-direction: column;

            h3 {
              font-family: helvetica;
              text-align: center;
            }

            .placeholder {
              width: 187.5px;
              height: 406px;
              background: #ccc;
            }

          }

        }

      }

    }

  }
  .project-other {
    grid-column: 2 / span 2;
    grid-row: 8 / span 1;
    margin-bottom: 20vh;
    h3 {
      font-family: verveine, sans-serif;
      color: $yellow;
      font-size: 3.625rem;
    }
    a {
      .even {
        position: relative;
        margin-top: 10vh;
        margin-bottom: 10vh;
        img {
          position: absolute;
          width: 750px;
          height: 500px;
          z-index: -1;
          -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
          filter: grayscale(100%);
          opacity: 1;
        }
        img.in-view {
          opacity: 1;
        }
        .text {
          float: right;
          text-align: right;
          h1 {
            font-size: 4rem;
            font-family: 'Roboto', sans-serif;
            color: black;
            position: relative;
            display: block;
            z-index: 1;
          }
          h1:after {
            position: absolute;
            content: '';
            display: block;
            top: 75%;
            left: -2%;
            transform: translate(0%,-50%);
            height: 50%;
            background: $yellow;
            width: 104%;
            z-index: -1;
          }
          h1 {
            font-weight: 500;
          }
          h3 {
            font-size: 2rem;
            margin: 0;
          }
          p {
            font-size: 1.25rem;
            color: #aaa;
            font-weight: 300;
          }
          h1,h3,p {
            font-family: 'Roboto', sans-serif;
          }
        }
      }
      .even {
        .text {
          h1,
          h3,
          p {
            -moz-transition: all 700ms ease-out;
            -webkit-transition: all 700ms ease-out;
            -o-transition: all 700ms ease-out;
            transition: all 700ms ease-out;
          }
        }
      }
    }
  }
}

//--media queries--//