// banner
.banner {
  display: grid;
  grid-template-columns: 1.5fr 4.5fr 4.5fr 1.5fr;
  grid-template-rows: auto 100vh;
  .image {
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
    z-index: 1;
    margin: auto;
    text-align: center;
    img {
//       animation: rotation 3s infinite linear;
//       -webkit-animation: rotation 3s infinite linear;
    }
  }
  .text {
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;
    z-index: 1;
    margin: auto;
    text-align: center;
    h1 {
      font-size: 3rem;
      margin: auto;
      span {
        font-family: verveine, sans-serif;
        font-weight: 400;
        font-style: normal;
        color: $yellow;
        font-size: 3.625rem;
      }
      span:first-child {
        font-size: 10rem;
      }
    }
  }
}
